<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Handle PHP files -->
            <add name="PHP_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="%ProgramFiles(x86)%\PHP\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <!-- Set specific PHP files as default documents -->
            <files>
                <clear />
                <add value="add_income.php" />
                <add value="add_expense.php" />
                <add value="edit_expense.php" />
                <add value="load_data.php" />
                <add value="remove_expense.php" />
                <add value="reset_data.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <!-- Rewrite all requests to PHP files -->
                <rule name="RewriteRequestsToPHPFiles" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
