

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- This section is required for PHP support on Azure -->
      <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v7.4\php-cgi.exe" resourceType="Either" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
          <add value="add_income.php" />
                        <add value="add_expense.php" />
                        <add value="edit_expense.php" />
                        <add value="load_data.php" />
                        <add value="remove_expense.php" />
                        <add value="reset_data.php" />
                        <add value="db_connect.php" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
          <remove segment="App_Code" />
          <remove segment="App_Data" />
          <remove segment="cgi-bin" />
          <remove segment="include" />
          <remove segment="resources" />
          <remove segment="schemas" />
          <remove segment="Scripts" />
          <remove segment="swiftmailer" />
          <remove segment="vendor" />
          <remove segment="ImageCache" />
          <remove segment="Modules" />
          <remove segment="Parsers" />
          <remove segment="Temporary" />
          <remove segment="Uploads" />
          <remove segment="Exports" />
          <remove segment="config" />
          <remove segment="application" />
          <remove segment="Database" />
          <remove segment="I18n" />
          <remove segment="Library" />
          <remove segment="Messages" />
          <remove segment="Modules" />
          <remove segment="Source" />
          <remove segment="Tests" />
          <remove segment="themes" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
